body{
	background-color: #f6f6f6;
}
p{
	text-align: center;
}
h1  {
	text-align: center;

}
h2{
	text-align: center;

}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 600px;
}
li{
	display: inline-block;
	border-radius: 10px;
	border: 1px solid #cccccc;
	padding: 10px;
	width: 25%;
}
li img{
	width: 100%;
}