body{
	width: 1024px;
	background-color: lightgreen;
	margin: 0 auto;
}

ul{
	display: flex;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	width: 40%;
	justify-content: space-between;



}
ul li{
	text-align: center;
	background-color: #fff;
}
ul li{
	flex-grow: 1;
}