ul{
	margin: 0;
	padding: 0;
	list-style-type: none;

}
.nav li{
	display: inline-block;
	margin-left: -4px;
	position: relative;

}
.nav a{
	background-color:#4c996b;
	color: white;
	width: 200px;
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
	font-size: 25px;
	border: 2px solid #3f8059;
	box-sizing: border-box;

}
.nav li:hover a{
	background-color: #3f8059;
	color: white;
	border: 2px solid #3f8059;
}
.sub{
	position: absolute;
	top: 50px;
	display: none;
}
.sub li{
	display: block;
	margin-left: 0;
}.nav li:hover>.sub{
	display: block;
}
.nav li:hover>.sub li a{
	background-color:#4c996b !important ;
}
.nav li:hover>.sub li: hover a {
	background-color:#3f8059 !important ;
}
.sub_1{
	position: absolute;
	top: 0px;
	margin-left: 100px;
	display: none;
}
.sub_1 li{
	display: block;
	margin-left: 100px;
}
.nav li:hover>.sub_1{
	display: block;
}
