@media (max-width: 800px){
		ul li{ 
			display: inline-block;
			width: 40%; }
		.cat{
			display: block;
		width: 100%;
		position: absolute;
		top: 40%;

		}	
		.my{display: block;
		width: 100%;
		font-size: 18px;

		}
		.my1{display: block;
		width: 100%;
		position: absolute;
		top: 100%;
		font-size: 18px;

		}
		

		}
		@media (max-width: 599px){
			ul li{ display: block;
				width: 80%;
			 }
		.cat{display: block;
			position: absolute;
			

		}	
		.my{ display: block;
		width: 100%;
		font-size: 20px; }

		}
		.my1{display: block;
		width: 100%;
		font-size: 20px;
		position:absolute;
		top: 100%;

		}


		}