.my{
	display: grid;
	grid-template-columns: 200px 500px 200px;
	grid-auto-rows: minmax(65px,auto);
	grid-column-gap: 20px;
	grid-row-gap: 18px;
	font-size: 14;
	vertical-align: middle;
}
.Silverston_ul{
	padding: 14px 5px;
}
.Smith_ul {
	padding:  14px 56px;
}

p{
	padding: 20px 10px;
}
.my,ul li{
	vertical-align: middle;
}
.hours{
	color: #9da5b4;
}
.Smith_img img{
	float:right;
}
.Silverston_img img {
	float: left;
}
.Smith{
	background-color: #ffb6c1;
	border-radius: 20px 20px 20px 0px;
}
.Silverston{
	background-color: #add8e6;
	border-radius: 20px 20px 0px 20px;
}
.my div:nth-child(4){
	grid-column: 2/3;
	grid-row: 1/2;	
}
.my div:nth-child(10){
	grid-column: 2/3;
	grid-row: 2/3;	
}
.my div:nth-child(5){
	grid-column: 2/3;
	grid-row: 3/4;
}
.my div:nth-child(6){
	grid-column: 2/3;
	grid-row: 5/6;
}
.my div:nth-child(11){
	grid-column: 2/3;
	grid-row: 4/5;
}
.my div:nth-child(12){
	grid-column: 2/3;
	grid-row: 6/7;
}
.my div:nth-child(2){
	grid-column: 1/2;
	grid-row: 3/4;
}
.my div:nth-child(3){
	grid-column: 1/2;
	grid-row: 5/6;
}
.my div:nth-child(7){
	grid-column: 3/4;
	grid-row: 2/3;
}
.my div:nth-child(8){
	grid-column: 3/4;
	grid-row: 4/5;
}
.my div:nth-child(9){
	grid-column: 3/4;
	grid-row: 6/7;	
}







